@model Domain.Master.TMstBrandCreateDto;
@using Core;

@{
    Layout = ViewPath.ModalLayout;
}

<div>
    <form id="FormInput" asp-controller="@ViewData[ViewDataType.Controller]" asp-action="@ViewData[ViewDataType.Action]" asp-antiforgery="true" class="form-horizonta">
         <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Code</label>
            <div class="col-md-9">
                <input class="form-control" asp-for="Code" required readonly />
            </div>
        </div>

        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Name</label>
            <div class="col-md-9">
                <input class="form-control" asp-for="Name" required />
            </div>
        </div>

        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Country Of Origin</label>
            <div class="col-md-9">
                <input class="form-control" list="datalistOptions" id="exampleDataList" asp-for="Country" placeholder="Type to search...">
                    <datalist id="datalistOptions">
                        <option value="Indonesia"></option>
                        <option value="India"></option>
                        <option value="Japan"></option>
                        <option value="Korea Selatan"></option>
                        <option value="China"></option>
                    </datalist>
            </div>
        </div>

        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Brand Image</label>
            <div class="col-md-9">
                <input class="form-control" accept=".jpg, .jpeg, .png" asp-for="BrandImage">
            </div>
        </div>

        <div id="rowActive mt-2" class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Active?</label>
            <div class="col-md-9">
                <div class="form-check mt-2 mb-2">
                    <input type="checkbox" class="form-check-input" asp-for="IsActive" checked="@Model.IsActive" autocomplete="off" />
                </div>
            </div>
        </div>
    </form>
</div>
