@section Scripts {
	<script src="~/assets/js/pages/app.pages.embed.js" asp-append-version="true"></script>
}

<div id="title" data-title="@ViewBag.Title"></div>


<iframe width="100%" height="700" frameborder="0" scrolling="no" src="@ViewBag.Link"></iframe>


