.w-1px {
    width: 1px !important;
}
.w-5px {
    width: 1px !important;
}
.w-10px {
    width: 1px !important;
}
.require::after {
    content: '*';
    color: red;
    margin-left: 5px;
}

/* Mencegah saat print, layar putih semua */
@media print {
    * {
        background: white !important;  Set background putih untuk semua elemen 
        color: white !important;  Set warna teks menjadi putih 
        box-shadow: none !important;  Hilangkan semua shadow 
        border: none !important;  Hilangkan semua border 
    }

    html,body {
        display: none;
    }
}
