@section Scripts {
	<script src="~/assets/js/pages/app.pages.master.category.js" asp-append-version="true"></script>
}

<ul class="nav nav-pills mb-2">
	<li class="nav-item">
		<a href="#tab-parent" data-bs-toggle="tab" class="nav-link active" data-table="tagNon">
			<span class="d-sm-none">Product Non TN</span>
			<span class="d-sm-block d-none">Product Non TN</span>
		</a>
	</li>
	<li class="nav-item">
		<a href="#tab-general" data-bs-toggle="tab" class="nav-link" data-table="tagTN">
			<span class="d-sm-none">Product TN</span>
			<span class="d-sm-block d-none">Product TN</span>
		</a>
	</li>
</ul>

<div class="table-responsive">
	<table id="dTable" class="table table-striped table-responsive table-bordered nowrap align-middle" width="100%">
		<thead>
			<tr>
				<th class="">No</th>
				<th class="">Code</th>
				<th class="text-center">Description</th>
				<th class="text-center">Brand</th>
				<th class="">Created</th>
				<th class="">Last Update</th>
				<th class="text-center">Is Active</th>
				<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>