@section Scripts {
    <script src="~/assets/js/pages/app.pages.report.endperiod.js" asp-append-version="true"></script>
}

<div class="row mb-20px">
    <div class="col-3">
        <label class="d-flex align-items-center fs-13px mb-5px">Company</label>
        <select id="CompFilter" class="form-select fs-13px"></select>
    </div>
    <div class="col-3">
        <label class="d-flex align-items-center fs-13px mb-5px">Branch</label>
        <select id="BranchFilter" class="form-select fs-13px"></select>
    </div>
    <div class="col-3">
        <label class="d-flex align-items-center fs-13px mb-5px">End Period</label>
        <div class="input-group">
            <span id="iEndPeriod" class="input-group-text input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="EndPeriod" class="form-control" value="@DateTime.Now" />
            <button id="iClearEndPeriod" type="button" class="btn btn-white">Clear</button>
        </div>
    </div>
</div>
<div>
    <table id="dTable" class="table table-striped table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-center">No</th>
                <th class="text-center text-nowrap">Device Type</th>
                <th class="text-center text-nowrap">Device Category</th>
                <th class="text-center text-nowrap">Brand</th>
                <th class="text-center text-nowrap">Product Type</th>
                <th class="text-center text-nowrap">Serial Number</th>
                <th class="text-center text-nowrap">NRP</th>
                <th class="text-center text-nowrap">Employee Name</th>
                <th class="text-center text-nowrap">Company</th>
                <th class="text-center text-nowrap">Branch</th>
                <th class="text-center text-nowrap">Department</th>
                <th class="text-center text-nowrap">Job Group</th>
                <th class="text-center text-nowrap">Job Title</th>
                <th class="text-center text-nowrap">Status</th>
                <th class="text-center text-nowrap">BAST Date</th>
                <th class="text-center text-nowrap">Period To</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>