@section Scripts {
    <script src="~/assets/js/pages/app.pages.access.user.js" asp-append-version="true"></script>
}

<table id="dTable" class="table table-striped table-bordered align-middle">
    <thead>
        <tr>
            <th class="col-1 text-center">No</th>
            <th class="col-2 text-center text-nowrap">Name</th>
            <th class="col-2 text-center text-nowrap">User ID</th>
            <th class="col-1 text-center text-nowrap">Role</th>
            <th class="col-1 text-center text-nowrap">Email</th>
            <th class="col-2 text-center text-nowrap">Created By</th>
            <th class="col-1 text-center text-nowrap">Created On</th>
            <th class="col-1 text-center text-nowrap">Is Active</th>
            <th class="col-2 text-center text-nowrap">Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
