@{
    var user = ViewData["UserSession"];
}

<div id="header" class="app-header">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <b>AED PORTAL</b>&thinsp;
        </a>
        @* <button type="button" class="navbar-mobile-toggler" data-toggle="app-top-menu-mobile">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> *@

        @*  Mobile  *@
        @if (ViewData["AppMenuNone"] == null)
        {
            <button type="button" class="navbar-mobile-toggler" data-toggle="app-top-menu-mobile">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        }

        <div class="navbar-item navbar-user dropdown navbar-mobile-toggler">
            <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                <div class="image image-icon bg-gray-800 text-gray-600">
                    <i class="fa fa-user"></i>
                </div>
                <span>
                    <span class="d-none d-md-inline">Administrator</span>
                    <b class="caret"></b>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-1">
                <a asp-controller="Account" asp-action="ChangePassword" class="dropdown-item btn-modal">Change Password</a>
                <div class="dropdown-divider"></div>
                <a asp-controller="Logout" class="dropdown-item">Log Out</a>
            </div>
        </div>
    </div>
    <div class="navbar-nav">
        @* <div class="navbar-item dropdown">
            <a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle icon">
                <i class="fa fa-bell"></i>
                <span class="badge">5</span>
            </a>
            <div class="dropdown-menu media-list dropdown-menu-end">
                <div class="dropdown-header">NOTIFICATIONS (5)</div>
                <div class="text-center w-300px py-3">
                    No notification found
                </div>
            </div>
        </div> *@
        <div class="navbar-item navbar-user dropdown d-none d-md-flex">
            <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                <div class="image image-icon bg-gray-800 text-gray-600">
                    <i class="fa fa-user"></i>
                </div>
                <span>
                    <span class="d-none d-md-inline">@user</span>
                    <b class="caret"></b>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-1">
                <a asp-controller="Account" asp-action="ChangePassword" class="dropdown-item btn-modal">Change Password</a>
                <div class="dropdown-divider"></div>
                <a asp-controller="Logout" class="dropdown-item">Log Out</a>
            </div>
        </div>
    </div>
</div>
