@model Domain.Comparison.ImplementDto;

@section Scripts {
	<script src="~/assets/js/pages/app.pages.trans.implement.compability.js" asp-append-version="true"></script>
}

<div class="border-bottom mb-2">
	
<ul class="nav nav-pills mb-2">
	<li class="nav-item">
		<a href="#tab-parent" data-bs-toggle="tab" class="nav-link active" data-table="implement">
			<span class="d-sm-none">Implement</span>
			<span class="d-sm-block d-none">Implement</span>
		</a>
	</li>
	<li class="nav-item">
		<a href="#tab-general" data-bs-toggle="tab" class="nav-link" data-table="productModel">
			<span class="d-sm-none">Product Model</span>
			<span class="d-sm-block d-none">Product Model</span>
		</a>
	</li>
</ul>

</div>
<div class="border-bottom">
<div class="row mb-3 implement">
    <label for="implementSelect" class="col-sm-1 col-form-label">Implement</label>
    <div class="col-sm-2">
        <select id="FilterImplement" class="form-select" asp-for="ModelCodeAttach" asp-items="@Model.SLModelAttachment">
            <option value="">Please select one</option>
        </select>
    </div>
</div>

<div class="row mb-3 product-model">
    <label for="productModelSelect" class="col-sm-1 col-form-label">Product Model</label>
    <div class="col-sm-3">
        <select id="FilterProductModel" class="form-select" asp-for="ModelCode" asp-items="@Model.SLModelUnit">
            <option value="">Please select one</option>
        </select>
    </div>
</div>
</div>

<div class="col-md-12">
<div class="row justify-content-center img-notfound">
    <div class="col-auto text-center">
        <img class="align-middle" src="@Url.Content("~/assets/images/png/undraw_Loading_re_5axr.png")" alt="Not Found Image" width="60%">
        <h5>Waiting for Searching!</h5>
    </div>
</div>
</div>
<div class="table-responsive mt-2" >
    <div id="dTable"></div>
</div> 



