@model Domain.Account.ChangePasswordDto
@using Core;

@{
    Layout = ViewPath.ModalLayout;
}

<script>
    var commonService = new webapp.CommonService();

    function handleSubmit() {
        window.location.href = '/logout';
    }

    $('#btnModalAct').click(function (e) {
        e.preventDefault();

        if ($("#FormInput")[0].checkValidity()) {
            btnShowLoader('#btnModalAct');

            commonService.formPost('#FormInput').done(function (response) {
                $('#myModal').modal('hide');

                Swal.fire({
                    title: alertStatus.Success,
                    text: 'Password has been updated!',
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#4CD964'
                }).then(function () {
                    window.location.href = '/logout';
                });
            }).always(function () {
                btnHideLoader('#btnModalAct');
            });
        } else {
            $("#FormInput")[0].reportValidity()
        }
    });

</script>

<div>
    <form id="FormInput" asp-controller="@ViewData[ViewDataType.Controller]" asp-action="@ViewData[ViewDataType.Action]" asp-antiforgery="true">
        <input type="hidden" asp-for="Id" />
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Old Password</label>
            <div class="col-md-9">
                <input asp-for="OldPassword" type="password" class="form-control" required />
            </div>
        </div>
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">New Password</label>
            <div class="col-md-9">
                <input asp-for="NewPassword" type="password" class="form-control" required />
            </div>
        </div>
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Confirm New Password</label>
            <div class="col-md-9">
                <input asp-for="NewPasswordConfirm" type="password" class="form-control" required />
            </div>
        </div>
    </form>
</div>
