@model Domain.Account.ChangePasswordDto

@{
    ViewData["AppBodyClass"] = "pace-top";
    ViewData["AppClass"] = "app-without-header";
    ViewData["AppContentClass"] = "p-0";

    ViewData["AppHeaderNone"] = "true";
    ViewData["AppMenuNone"] = "true";
}

@section Scripts{
    <script>
        var commonService = new webapp.CommonService();

        $('#FormInput').on('submit', function (e) {
            e.preventDefault();

            btnShowLoader('#btnSubmit');

            commonService.formPost('#FormInput').done(function (response) {
                Swal.fire({
                    title: alertStatus.Success,
                    text: 'Password has been updated!',
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#4CD964'
                }).then(function () {
                    window.location.href = '/logout';
                });
            }).always(function () {
                btnHideLoader('#btnSubmit');
            });
        });
    </script>
}

<div class="login login-v2 fw-bold">
    <div class="login-cover">
        <div class="login-cover-img" style="background-image: url(/assets/images/login-bg.jpg)" data-id="login-cover-image"></div>
        <div class="login-cover-bg"></div>
    </div>
    <div class="login-container">
        <div class="login-header">
            <div class="brand">
                <div class="d-flex align-items-center">
                    <b>Seat</b> &thinsp; Management
                </div>
                <small>Change Password</small>
            </div>
            <div class="icon">
                <i class="fa fa-lock-open"></i>
            </div>
        </div>
        <div class="login-content">
            <form id="FormInput" asp-controller="Account" asp-action="ForceChangePassword" asp-antiforgery="true">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="OldPassword" />
                <div class="form-floating mb-20px">
                    <input asp-for="NewPassword" type="password" class="form-control fs-13px h-45px border-0" placeholder="New Password" required />
                    <label class="d-flex align-items-center text-gray-600 fs-13px">New Password</label>
                </div>
                <div class="form-floating mb-20px">
                    <input asp-for="NewPasswordConfirm" type="password" class="form-control fs-13px h-45px border-0" placeholder="Confirm New Password" required />
                    <label class="d-flex align-items-center text-gray-600 fs-13px">Confirm New Password</label>
                </div>
                <div class="mb-20px">
                    <button id="btnSubmit" type="submit" class="btn btn-success d-block w-100 h-45px btn-lg">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
